.content-home {
    display: flex;
    margin: 0 auto;
    padding: 0 0.8rem;
    max-width: 1024px;
    min-height: 100vh;
    flex-direction: column;
}

.content-home header {
    padding: 20px 0;
}

.content-home .container {
    flex-grow: 1;
    display: grid;
    padding: 20px 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "b-main b-navegation";
}

/* Seção esquerda */
.content-home .container .box-main {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.content-home .container .box-main .box-title h1 {
    line-height: 2.4rem;
    font-family: "Anton", sans-serif;
}

.content-home .container .box-main .box-title p {
    max-width: 350px;
    line-height: 1.5rem;
}

/* Seção direita */
.content-home .container .box-navegation {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-home .container .box-navegation .box-itens {
    flex: 1;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content-home .container .box-navegation .box-itens .item {
    width: 100%;
    height: 70px;
    cursor: pointer;
    max-width: 380px;
    color: #000000;
    overflow: hidden;
    border-radius: 20px;
    transition: .3s ease;
    background: #ffffff;
    box-shadow: 1px 1px 4px #00000050;
}
/* Título do item */
.content-home .container .box-navegation .box-itens .item .box-item-title {
    height: 70px;
    display: flex;
    overflow: hidden;
    font-size: 0.9rem;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
/* Descrição do item */
.content-home .container .box-navegation .box-itens .item .box-item-description {
    gap: 5px;
    height: 120px;
    display: flex;
    margin: 0 auto;
    max-width: 300px;
    align-items: center;
    line-height: 1.5rem;
    flex-direction: column;
}
.content-home .container .box-navegation .box-itens .item .box-item-description .line {
    width: 100%;
    height: 1px;
    background: #a5a5a5;
}
/* Botão do item */
.content-home .container .box-navegation .box-itens .item .box-item-buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-home .container .box-navegation .box-itens .item .box-item-buttons button {
    background: #018ABE;
    width: 100%;
    border: none;
    height: 100%;
    font-size: 1rem;
    max-height: 40px;
    max-width: 250px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50px;
}
/* Efeito's do item */
.content-home .container .box-navegation .box-itens .item:hover {
    height: 250px;
    padding: 20px 0px;
}

/* Responsivo para telas menores */
@media (max-width: 750px) {
    .content-home .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "b-main"
            "b-navegation";
        background: transparent;
    }
    .content-home .container .box-main {
        justify-content: center;
    }
}