@import url('./styles/styl-bg-gradient.css');

* {
    margin: 0;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

:root {
    font-family: "Sofia Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 18px;

    color: #ffffffff;
    background: #071936;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
